@import url('https://cdn.jsdelivr.net/gh/dreampulse/computer-modern-web-font@master/fonts.css');

:root {
  --font-serif: 'Computer Modern Serif', ui-serif, Georgia, Cambria,
    'Times New Roman', Times, 'SimSun', 'Source Han Serif SC', 'STSong',
    'Noto Serif SC', serif;
  --font-sans: 'Computer Modern Sans', ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'SimHei', 'Source Han Sans SC', 'STHeiti', 'Noto Sans SC', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-mono: 'Computer Modern Typewriter', ui-monospace, SFMono-Regular, Menlo,
    Monaco, Consolas, 'Liberation Mono', 'Courier New', 'FangSong', 'STFangsong',
    monospace;

  --foreground-rgb: 0, 0, 0;
  --background-rgb: 250, 250, 250;
  --background-end-rgb: 230, 230, 240;

  --primary-rgb: 225, 225, 225;
  --secondary-rgb: 208, 210, 211;
  --border-rgb: 108, 108, 108;
}

/* mobile */
@media screen and (max-width: 640px) {
  :root {
    font-size: small;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  min-height: 100vh;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-rgb));
  font-family: var(--font-sans);
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
