.main {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-family: var(--font-serif);
}

.icon {
  flex-shrink: 0;
  position: relative;
  top: 0.2em;
  margin-right: 0.5em;
}

.navbar {
  position: relative;
  padding-bottom: 1rem;
  margin-bottom: 2rem;
  width: 100%;
  background: linear-gradient(
    to right,
    rgb(var(--primary-rgb), 0.5),
    transparent
  );
}
.navbar > .name {
  letter-spacing: 0.3rem;
  font-size: 2.5rem;
}
.navbar > .name > em {
  margin-left: 2rem;
  font-style: normal;
  font-size: 3rem;
}
.navbar > hr {
  margin: 0 1rem;
  width: 36rem;
  max-width: calc(100% - 4rem);
  height: 1px;
  border: none;
  background-color: rgb(var(--border-rgb));
}
.navbar > .profession {
  margin: 0.5rem 2rem;
  letter-spacing: 0.1rem;
}
.navbar > .profession > em {
  font-style: normal;
  font-size: 1.2rem;
}

.contact {
  padding: 0 2rem;
  font-size: 0.8rem;
  font-family: var(--font-mono);
}
.contact > * {
  margin-right: 0.5rem;
}
.contact > .divider {
  position: relative;
  display: inline-block;
  top: 0.25rem;
  width: 1px;
  height: 1rem;
  background-color: rgb(var(--border-rgb));
}
.contact > .iconset {
  display: inline-flex;
  width: 4em;
  justify-content: space-between;
}
.contact > .iconset .icon {
  margin: 0;
}
.contact .qrcode {
  width: 8rem;
  height: 8rem;
}

.logo {
  display: flex;
  align-items: center;
  height: 5rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 2rem;
}
.logo > .badge {
  margin: 1rem;
  width: 6rem;
  height: 6rem;
}
.logo > .name {
  width: 24rem;
  height: 3rem;
  margin-right: 1rem;
}

@media screen and (max-width: 75rem) {
  .logo > .badge {
    width: 8rem;
    height: 8rem;
  }
  .logo > .name {
    display: none;
  }
}
@media screen and (max-width: 52rem) {
  .navbar > .logo {
    display: none;
  }
}

.grid {
  display: grid;
  width: 100%;
  grid-template:
    'profile experience'
    'education experience'
    'skills experience'
    /* '. experience' */
    / 43% 57%;
  grid-row-gap: 1rem;
  grid-column-gap: 2rem;
  padding: 0 2rem;
}
@media screen and (max-width: 64rem) {
  .grid {
    grid-template: 'profile' 'education' 'experience' 'skills' / 1fr;
  }
}
.profile {
  grid-area: profile;
}
.education {
  grid-area: education;
}
.skills {
  grid-area: skills;
}
.experience {
  grid-area: experience;
}

.grid .title {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  letter-spacing: 0.2rem;
}
.grid .title > .icon {
  margin-right: 1rem;
}

.content {
  width: 100%;
  padding: 0.5rem 1rem;
}
.content ul {
  display: flex;
  margin: 0.25rem;
}
.content .item + .item {
  margin-top: 1.5rem;
}
.content .line {
  margin: 0.5rem 0;
}
.content .name {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-weight: bold;
}
.content .subname {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-style: italic;
}
.content .left {
  text-align: left;
  margin-right: 1rem;
}
.content .right {
  text-align: right;
  margin-left: 1rem;
}
.content .head {
  margin: 1rem 0;
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
  font-weight: bold;
}
.content .quote {
  margin: 0.25em 0 0.25em 1em;
  padding: 0 1em;
  border-left: 1px solid;
  opacity: 0.8;
}

.profile .avatar {
  float: left;
  margin-right: 1rem;
  width: 7rem;
  height: min-content;
}

.education .attach {
  display: inline-block;
  font-family: var(--font-mono);
  font-size: 0.9rem;
  margin-right: 0.5rem;
  text-decoration: underline;
  word-wrap: none;
}

.experience .title {
  margin-bottom: -0.5rem;
}

.markdown {
  line-height: 1.5rem;
}
